<div class="hidden" id="account" role="tabpanel" aria-labelledby="account-tab">
    <div class="mb-4 p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-900 dark:border-gray-700">
        <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
            Personal
            Information</h3>
        <p class="text-gray-600 dark:text-gray-400 mb-6">Update your
            personal details and profile picture.</p>

        <div class="flex flex-col md:flex-row gap-8">
            <!-- Profile Picture Column -->
            <div class="flex-shrink-0 flex flex-col items-start md:mb-0">
                <img class="rounded-lg w-28 h-28 mb-4"
                    src="https://flowbite-admin-dashboard.vercel.app/images/users/bonnie-green-2x.png"
                    alt="Profile picture">
                <button
                    class="w-28 px-4 py-1.5 text-sm border border-gray-300 rounded-lg hover:bg-gray-50 dark:border-gray-600 dark:hover:bg-gray-700 dark:text-white flex justify-center">
                    <svg class="w-4 h-4 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 20 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M10 12.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Z" />
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M17 3h-2l-2-2H7L5 3H3a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2Z" />
                    </svg>
                    Change
                </button>
            </div>

            <!-- Form Column -->
            <form method="POST" class="flex-1">
                {% csrf_token %}
                <input type="hidden" name="account_update" value="1">
                <div class="grid grid-cols-1 sm:grid-cols-6 gap-4 sm:gap-6">
                    <div class="col-span-1 sm:col-span-3">
                        <label for="id_name"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
                        <input type="text" name="username" id="id_username" value="{{ user.username }}"
                            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Enter your username" required>
                    </div>
                    <div class="col-span-1 sm:col-span-3">
                        <label for="id_email"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                        <input type="text" name="email" id="id_email"
                            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Enter your email" value="{{ user.email }}" required>
                    </div>


                    <div class="col-span-1 sm:col-full">
                        <button
                            class="text-white bg-green-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                            type="submit">Save all</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div
        class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
        <h3 class="mb-4 text-xl font-semibold dark:text-white">Password information</h3>

        <!-- Add Debug Info -->
        {% if password_change_form.errors %}
        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <h4 class="text-lg font-semibold">Form Errors:</h4>
            {{ password_change_form.errors.as_json }}
            <ul class="mt-1.5 list-disc list-inside">
                {% for field in password_change_form %}
                {% for error in field.errors %}
                <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
                {% endfor %}
                {% for error in password_change_form.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="password_change" value="1">
            <div class="grid grid-cols-6 gap-6">
                <div class="col-span-6 sm:col-span-3">
                    <label for="oldpassword"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Current
                        password</label>
                    <input type="password" name="oldpassword" id="old_password"
                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                        placeholder="••••••••" required="">
                </div>
                <div class="col-span-6 sm:col-span-3">
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New
                        password</label>
                    <input data-popover-target="popover-password" data-popover-placement="bottom" type="password"
                        id="password1" name="password1"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="••••••••" required="">
                    <div data-popover="" id="popover-password" role="tooltip"
                        class="absolute z-10 invisible inline-block text-sm font-light text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400"
                        style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(81.5px, 3209px, 0px);"
                        data-popper-placement="bottom">
                        <div class="p-3 space-y-2">
                            <h3 class="font-semibold text-gray-900 dark:text-white">Must
                                have at least 6 characters</h3>
                            <div class="grid grid-cols-4 gap-2">
                                <div class="h-1 bg-orange-300 dark:bg-orange-400"></div>
                                <div class="h-1 bg-orange-300 dark:bg-orange-400"></div>
                                <div class="h-1 bg-gray-200 dark:bg-gray-600"></div>
                                <div class="h-1 bg-gray-200 dark:bg-gray-600"></div>
                            </div>
                            <p>It's better to have:</p>
                            <ul>
                                <li class="flex items-center mb-1">
                                    <svg class="w-4 h-4 mr-2 text-green-400 dark:text-green-500" aria-hidden="true"
                                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    Upper &amp; lower case letters
                                </li>
                                <li class="flex items-center mb-1">
                                    <svg class="w-4 h-4 mr-2 text-gray-300 dark:text-gray-400" aria-hidden="true"
                                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    A symbol (#$&amp;)
                                </li>
                                <li class="flex items-center">
                                    <svg class="w-4 h-4 mr-2 text-gray-300 dark:text-gray-400" aria-hidden="true"
                                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    A longer password (min. 12 chars.)
                                </li>
                            </ul>
                        </div>
                        <div data-popper-arrow=""
                            style="position: absolute; left: 0px; transform: translate3d(139px, 0px, 0px);">
                        </div>
                    </div>
                </div>
                <div class="col-span-6 sm:col-span-3">
                    <label for="password2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm
                        password</label>
                    <input type="password" name="password2" id="password2"
                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="••••••••" required="">
                </div>
                <div class="col-span-6 sm:col-full">
                    <button
                        class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
                        type="submit">Save all</button>
                </div>
            </div>
        </form>
    </div>
</div>