  /* Style for active tab */
  button[role="tab"][aria-selected="true"] {
    background-color: rgb(22 163 74);
    /* bg-green-600 */
    color: white;
  }

  /* Style for active tab in dark mode */
  .dark button[role="tab"][aria-selected="true"] {
    color: white;
  }