<aside id="logo-sidebar"
    class="fixed top-0 left-0 z-50 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
    aria-label="Sidebar">
    <div class="h-full px-4 py-8 overflow-y-auto bg-gray-900 dark:bg-gray-900">
        <div class="flex items-center justify-between ps-2.5 mb-5">
            <a href="https://flowbite.com/" class="flex items-center">
                <span
                    class="self-center text-xl font-semibold whitespace-nowrap text-white dark:text-white">Uptobot</span>
            </a>


        </div>

        <ul class="space-y-2 font-medium">
            <li>
                <a href="{% url 'monitor:monitor_list' %}"
                    class="flex items-center p-2 {% if request.resolver_match.url_name == 'monitor_list' %}bg-green-100 text-gray-900{% else %}text-green-400 dark:text-white{% endif %} rounded-lg hover:bg-green-100 dark:hover:bg-green-700 group">

                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-globe w-6 h-6 {% if request.resolver_match.url_name == 'monitor_list' %}text-gray-900{% else %}text-green-400 dark:text-gray-400{% endif %} transition duration-75 group-hover:text-gray-900 dark:group-hover:text-white">
                        <circle cx="12" cy="12" r="10" />
                        <path d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20" />
                        <path d="M2 12h20" />
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap sidebar-text">Monitors</span>
                </a>
            </li>
            <li>
                <a href="{% url 'notifications:list' %}"
                    class="flex items-center p-2 {% if request.resolver_match.url_name == 'list' %}bg-green-100 text-gray-900{% else %} text-green-400 dark:text-white {% endif %} rounded-lg  hover:bg-green-100 dark:hover:bg-green-700 group"
                    data-tooltip-target="tooltip-monitors" data-tooltip-placement="right">
                    <svg class="w-6 h-6 {% if request.resolver_match.url_name == 'list' %}text-gray-900{% else %} text-green-400 {% endif %} transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                        viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 5.365V3m0 2.365a5.338 5.338 0 0 1 5.133 5.368v1.8c0 2.386 1.867 2.982 1.867 4.175 0 .593 0 1.193-.538 1.193H5.538c-.538 0-.538-.6-.538-1.193 0-1.193 1.867-1.789 1.867-4.175v-1.8A5.338 5.338 0 0 1 12 5.365Zm-8.134 5.368a8.458 8.458 0 0 1 2.252-5.714m14.016 5.714a8.458 8.458 0 0 0-2.252-5.714M8.54 17.901a3.48 3.48 0 0 0 6.92 0H8.54Z" />
                    </svg>

                    <span class="flex-1 ms-3 whitespace-nowrap sidebar-text">Alerts</span>
                </a>
            </li>
            <li>
                <a href="{% url 'subscriptions:subscription' %}"
                    class="flex items-center p-2 {% if request.resolver_match.url_name == 'subscription' %}bg-green-100 text-gray-900{% else %}text-green-400 dark:text-white{% endif %} rounded-lg hover:bg-green-100 dark:hover:bg-green-700 group"
                    data-tooltip-target="tooltip-monitors" data-tooltip-placement="right">
                    <svg class="w-6 h-6 {% if request.resolver_match.url_name == 'subscription' %}text-gray-900{% else %}text-green-400{% endif %} transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                        viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m10.051 8.102-3.778.322-1.994 1.994a.94.94 0 0 0 .533 1.6l2.698.316m8.39 1.617-.322 3.78-1.994 1.994a.94.94 0 0 1-1.595-.533l-.4-2.652m8.166-11.174a1.366 1.366 0 0 0-1.12-1.12c-1.616-.279-4.906-.623-6.38.853-1.671 1.672-5.211 8.015-6.31 10.023a.932.932 0 0 0 .162 1.111l.828.835.833.832a.932.932 0 0 0 1.111.163c2.008-1.102 8.35-4.642 10.021-6.312 1.475-1.478 1.133-4.77.855-6.385Zm-2.961 3.722a1.88 1.88 0 1 1-3.76 0 1.88 1.88 0 0 1 3.76 0Z" />
                    </svg>

                    <span class="flex-1 ms-3 whitespace-nowrap sidebar-text">Subscription</span>
                </a>
            </li>
            <li>
                <a href="{% url 'accounts:settings' %}"
                    class="flex items-center p-2 {% if request.resolver_match.url_name == 'settings' %}bg-green-100 text-gray-900{% else %} text-green-400 dark:text-white {% endif %} rounded-lg  hover:bg-green-100 dark:hover:bg-green-700 group"
                    data-tooltip-target="tooltip-monitors" data-tooltip-placement="right">

                    <svg class="w-6 h-6 {% if request.resolver_match.url_name == 'settings' %}text-gray-900{% else %} text-green-400 {% endif %} transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap sidebar-text">Settings</span>
                </a>
            </li>

            <li>
                <a href="{% url 'contact:support' %}"
                    class="flex items-center p-2 {% if request.resolver_match.url_name == 'support' %}bg-green-100 text-gray-900{% else %}text-green-400 dark:text-white{% endif %} rounded-lg hover:bg-green-100 dark:hover:bg-green-700 group"
                    data-tooltip-target="tooltip-monitors" data-tooltip-placement="right">
                    <svg class="w-6 h-6 {% if request.resolver_match.url_name == 'support' %}text-gray-900{% else %}text-green-400{% endif %} transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                        viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9.529 9.988a2.502 2.502 0 1 1 5 .191A2.441 2.441 0 0 1 12 12.582V14m-.01 3.008H12M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>


                    <span class="flex-1 ms-3 whitespace-nowrap sidebar-text">Help & Support</span>
                </a>
            </li>


        </ul>

        <div class="pt-4 mt-4 border-t border-gray-200">
            <div id="dropdown-cta-premiums" class="shadow-sm p-4 mt-6 rounded-lg bg-gray-100" role="alert">
                <div class="flex items-center mb-3">
                    <span
                        class="flex bg-gradient-to-r from-teal-300 to-lime-300 text-teal-900 dark:text-teal-900 text-sm font-semibold me-2 px-2.5 py-0.5 rounded-sm dark:bg-orange-200 dark:text-orange-900 items-start justify-between">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-crown-icon lucide-crown w-4 h-4 me-2">
                            <path
                                d="M11.562 3.266a.5.5 0 0 1 .876 0L15.39 8.87a1 1 0 0 0 1.516.294L21.183 5.5a.5.5 0 0 1 .798.519l-2.834 10.246a1 1 0 0 1-.956.734H5.81a1 1 0 0 1-.957-.734L2.02 6.02a.5.5 0 0 1 .798-.519l4.276 3.664a1 1 0 0 0 1.516-.294z" />
                            <path d="M5 21h14" />
                        </svg>
                        Premium</span>
                    <button type="button"
                        class="ms-auto -mx-1.5 -my-1.5 inline-flex justify-center items-center w-6 h-6 text-blue-900 rounded-lg focus:ring-2 focus:ring-blue-400 p-1 hover:bg-blue-200 dark:bg-blue-900 dark:text-blue-400 dark:hover:bg-blue-800"
                        data-dismiss-target="#dropdown-cta-premium" aria-label="Close">
                        <span class="sr-only">Close</span>
                        <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                    </button>
                </div>

                <div class="mb-4">
                    <div class="flex justify-between mb-2">
                        <span class="text-base font-medium text-sm text-gray-800 dark:text-white">Monitors
                            remaining</span>
                        <span class="text-base font-medium text-sm text-gray-800 dark:text-white">42/100</span>
                    </div>
                    <div class="w-full bg-gray-200 rounded-full h-2 dark:bg-gray-700">
                        <div class="bg-gray-900 h-2 rounded-full" style="width: 45%"></div>
                    </div>
                </div>


                <button type="button" class="w-full justify-center bg-gradient-to-br from-teal-300 to-lime-300 text-teal-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700
                    font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Manage
                    Subscription</button>

            </div>
        </div>

    </div>


</aside>