{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description"
        content="Uptobot provides real-time uptime monitoring for your websites and endpoints. Ensure your services are always online and get notified when they go down.">
    <meta name="robots" content="index,follow">
    <title>Uptobot - Free Uptime Monitoring for Websites & Endpoints</title>


    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
</head>

<body class="bg-white dark:bg-gray-900">
    {% block content %}
    {% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>

</html>