{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
AB

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Uptobot</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard/tabs.css' %}">
    {% endcompress %}

    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />



    {% compress js %}
    <script src="{% static 'js/dashboard/htmx.js' %}"></script>
    {% endcompress %}

    <!-- Add CSRF token for HTMX -->
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        });
    </script>

    <!-- Load other libraries -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <!-- Load our JavaScript files -->
    {% compress js %}
    <script type="module" src="{% static 'js/dashboard/charts.js' %}"></script>
    <script src="{% static 'js/dashboard/tabs.js' %}"></script>
    <script src="{% static 'js/dashboard/sidebar.js' %}"></script>
    <!-- Load initialization script last -->
    <script src="{% static 'js/dashboard/init.js' %}"></script>
    {% endcompress %}
</head>

<body class="flex flex-col bg-gray-100 dark:bg-gray-900">
    {% include 'dashboard/components/sidebar.html' %}
    <div id="main-content" class=" sm:ml-64 lg:px-8 transition-all duration-300 ease-in-out">
        {% include 'dashboard/components/navbar.html' %}
        <main id="main-container" class="mt-2">
            {% block content %}
            {% endblock content %}
        </main>
    </div>
    <script src="{% static 'js/dashboard/forms.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>



</body>

</html>