{% extends 'dashboard/base.html' %}
{% block content %}

<div id="monitor-list-container">
    <div class="px-6 mt-6 pb-8" id="monitor-listing">
        <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-8 gap-4 sm:gap-0">
            <div>
                <h2 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">Your Monitors</h2>
                <p class="text-gray-600 text-md dark:text-gray-100">Track and manage your website and API monitors</p>
            </div>
            <div class="flex items-center w-full sm:w-auto">
                <button data-modal-target="addMonitorModal" data-modal-toggle="addMonitorModal" type="button"
                    class="w-full sm:w-auto text-white inline-flex items-center justify-center bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                    <svg class="mr-1 -ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                            clip-rule="evenodd"></path>
                    </svg>
                    Add new monitor
                </button>
            </div>
        </div>
        {% if monitors %}
        {% include 'dashboard/monitor_list_widgets.html' %}
        {% include 'dashboard/monitor_list_items.html' %}
        {% else %}
        <!-- No monitors at all -->
        <div id="alert-additional-content-5"
            class="p-4 mb-4 border border-gray-300 rounded-lg bg-white dark:border-gray-600 dark:bg-gray-800"
            role="alert">
            <div class="flex items-center">
                <svg class="flex-shrink-0 w-4 h-4 me-2 dark:text-gray-300" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <h3 class="text-lg font-medium text-gray-800 dark:text-gray-300">No Monitors Found</h3>
            </div>
            <div class="mt-2 mb-4 text-sm text-gray-800 dark:text-gray-300">
                You haven't added any monitors yet. Click the button below to add your first monitor.
            </div>
            <div class="flex">
                <button data-modal-target="addMonitorModal" data-modal-toggle="addMonitorModal" type="button"
                    class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-xs px-3 py-1.5 me-2 text-center inline-flex items-center">
                    <svg class="me-2 h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                        viewBox="0 0 20 14">
                        <path
                            d="M10 0C4.612 0 0 5.336 0 7c0 1.742 3.546 7 10 7 6.454 0 10-5.258 10-7 0-1.664-4.612-7-10-7Zm0 10a3 3 0 1 1 0-6 3 3 0 0 1 0 6Z" />
                    </svg>
                    Add Monitor
                </button>
            </div>
        </div>
        {% endif %}
    </div>
    {% include 'components/modals/add_monitor.html' %}
</div>

{% endblock content %}