{% if protocol == 'HTTP' %}
<div class="">
    <label for="URL" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Url</label>
    <input type="text" name="url" id="url"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
        placeholder="http://example.com" required="">
</div>
<div>
    <label for="method" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Method</label>
    <select id="method" name="method" required
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
        {% for value, label in method_choices %}
        <option value="{{ value }}">{{ label }}</option>
        {% endfor %}
    </select>
</div>
{% else %}
<div>
    <label for="URL" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Host</label>
    <input type="text" name="host" id="name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
        placeholder="example.com" required="">
</div>
<div>
    <label for="URL" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Port</label>
    <input type="text" name="name" id="name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
        placeholder="80" required="">
</div>
{% endif %}